<div class="backgrop-modal-sucess">
    <div class="modal-sucess">
        <div class="ion-padding ion-text-center">
            <div class="container-info">
                <ion-img src="assets/icon/oink-gift.svg" alt="Coink" class="img-oink"></ion-img>

                <h2>¡Bienvenido a Coink!</h2>
                <p class="text-info">
                    ¡Cuenta creada exitosamente, tu marrano ya está listo para que empieces a ahorrar!
                </p>
            </div>

            <ion-button (click)="dismiss()" expand="block" color="primary" shape="round" class="btn-coink">
                CONTINUAR
            </ion-button>
        </div>
    </div>
</div>