<ion-content [fullscreen]="true">
  <div class="content ion-padding">
    <div class="logo-container">
      <ion-img src="assets/icon/oink-logo.svg" alt="Logo Coink"></ion-img>
      <h1 class="ion-text-center text-info">
        LA ALCANCÍA QUE SIEMPRE TE ACOMPAÑA
      </h1>
    </div>

    <div class="spacer"></div>

    <div class="button-container">
      <ion-button expand="block" color="primary" shape="round" class="btn-coink primary" [routerLink]="['/register']">
        REGÍSTRATE
      </ion-button>
      <ion-button expand="block" color="secondary" shape="round" class="btn-coink">
        INGRESA
      </ion-button>
    </div>
  </div>
</ion-content>